@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --font-primary: 'Poppins', 'sans-serif';
  --blue-dark: #23155B;
  --purple-dark: #8053FF;
  --line-color: #F4F5F4;
  --purple-light: #928CAB;
  --gray-light: #D4CDEF;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: var(--font-primary);
  color: var(--blue-dark);
}

h2 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
  line-height: 2.8rem;
  font-size: 1.8rem;
}

span {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;

  color: var(--purple-dark);
}

label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-light);
}

body {
  background: white;
}

a {
  color: var(--gray-light);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}