@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --font-primary: 'Poppins', 'sans-serif';
  --font-color: #23155B;
  --color-button-dark: #8053FF;
  --line-color: #F4F5F4;
  --span-card-color: #928CAB;
  --gray-light-p: #D4CDEF;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: var(--font-primary);
  color: var(--font-color);
}


h2 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
  line-height: 2.8rem;
  font-size: 1.8rem;
}

span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  color: var(--color-button-dark);
}

label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-light-p);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: white;
}

a {
  color: var(--gray-light-p);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}