.page {
  max-width: 100dvw;
  background-color: white;
  margin: auto;
}

/* header */

.header, .nav, .aNav {
  display: flex;
  flex-wrap: wrap;
}

.header {
  max-width: 1440px;
  margin: auto;
  padding: 0 1rem;
  justify-content: space-between;
}

.nav {
  gap: 6rem;
  align-items: center;

}

.aNav {
  gap: 2.4rem;
}

.aNav a {
  color: var(--blue-dark);
}

/* header-end */

/* Section - 1 */

.sectionOne {
  height: auto;
  margin: 0 auto 10rem auto;
  max-width: 1420px;
  background-image: url('../../public/bg.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center center;
  background-color: var(--back-color);
  padding: 16.8rem 0 16.8rem 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 9.6rem;
}

.pTitle {
  margin-top: 0.8rem;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 36px;
}

.buttonsTitle {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.buttonsTitle button {
  font-size: 1.8rem;
}

/* Section 1 end */

/* Section 2 */

.sectionTwo {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 10rem auto;
  padding: 0 13rem 0 13rem;
}

.sectionTwo h2 {
  padding-right: 17rem;
}

.emphasis {
  color: var(--purple-dark);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.02em;
}

.cardsDiv {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 1.2rem;
}

.cardWrapper {
  display: flex;
  gap: 1.2rem;
  max-width: 58rem;

  padding: 2.4rem 2.4rem 2.4rem 2.4rem;

  box-shadow: 0px 8px 12px -6px rgba(35, 21, 91, 0.05), 0px 14px 64px -4px rgba(35, 21, 91, 0.05);
  border-radius: 8px;
}

.cardWrapper span {
  color: var(--purple-dark);
  line-height: 2.8rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.cardWrapper p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  padding-right: 15rem;
}

@media screen and (max-width:1350px) {
  .cardWrapper p {
    padding-right: 12rem;
  }

  .sectionTwo h2 {
    padding-right: 12rem;
  }
}

@media screen and (max-width: 1200px) {
  .sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .cardsDiv {
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .cardWrapper p {
    padding-right: 0;
  }

  .sectionTwo h2 {
    padding-right: 0;
  }
}

/* Section 2 end */

/* Section 3 */

.background {
  background-image: url("../../public/bg-three.svg");
  border-radius: 25rem 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: cover;
  background-color: var(--back-color);
  width: 100%;
}

.sectionThree {
  max-width: 1440px;
  padding: 20rem 0;
  margin: auto;
}

.mainContentThree {
  margin: 0 13rem 0 13rem;
}

.titleSection h2 {
  margin-bottom: 1.2rem;
}

.titleSection p {
  max-width: 61.6rem;
  margin-bottom: 4rem;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  margin: 2rem 0 4rem 0;
}

.sectionThreeButtons {
  max-width: 47.6rem;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .cardsWrapper {
    grid-template-columns: 1fr;
  }

  .mainContentThree {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Section 3 end */

/* Section 4 */

.backgroundSectionFour {
  background-image: url("../../public/bg-four.svg");
  border-radius: 0 25rem 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: cover;
  background-color: var(--back-color);
  width: 100%;
}

.sectionFour {
  margin: auto;
  border-radius: 0 25rem 0 0;
  max-width: 1440px;
  padding: 20rem 0 20rem 0;
}

.titleSection {
  max-width: 88.7rem;
}

/* Section 4 end */

/* Section  5 */

.backgroundSectionFive {
  background-image: url("../../public/person.svg");
  background-size: cover;
  background-position: center;
  border-radius: 0 20rem 20rem 0;
  width: 100%;
  max-width: 59rem;
  height: auto;
}

.sectionFive {
  display: flex;
  margin-bottom: 10rem;
}

.mainContentFive {
  margin: 12.7rem 15rem 20rem 26rem;
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 57.9rem;
}

.mainContentFive img {
  margin-bottom: 1.6rem;
}

.mainContentFive h2 {
  margin-bottom: 5.2rem;
}

.mainContentFive span {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  padding-right: 9rem;
}

.mainContentFive p:first-of-type {
  margin-bottom: 7rem;
}

@media screen and (max-width: 1300px) {
  .mainContentFive {
    margin: 12.7rem 15rem 20rem 20rem;
  }
}

@media screen and (max-width: 1200px) {
  .sectionFive {
    flex-direction: column;
    align-items: center;
  }

  .backgroundSectionFive {
    border-radius: 5rem 5rem 0 0;
    max-width: 40rem;
    height: 30rem;
  }
}

/* Section 5 end */

/* Section 6 */

.backgroundSectionSix {
  background-image: url("../../public/bg-six.svg");
  border-radius: 25rem 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: cover;
  width: 100%;
  background-color: var(--blue-dark);
  margin-top: 10rem;
}

.sectionSix {
  margin-top: 20rem;
  max-width: 1440px;
  margin: auto;
  padding: 17.9rem 13rem 17.9rem 13rem;
}

.mainSectionSix {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.leftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.imgSectionSix {
  opacity: 0.2;
}

.mainSectionSix h2 {
  color: white;
}

.mainSectionSix p {
  color: var(--gray-light);
}

.titleMainSix span {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.02em;
}

.titleMainSix h2 {
  max-width: 47.3rem;
  margin-bottom: 1.2rem;
}

.formMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: end;
  gap: 2rem;
  margin: 6.4rem 0 4rem 0;
}

.formMain input {
  padding: 1.4rem 1.2rem;
  border-radius: 0.8rem;
  border: 2px solid #F4F5F4;
  width: 100%;
}

.inputWrapper {
  align-self: end;
}

.leftSide button {
  max-width: 23.2rem;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2.4rem;
  margin-top: auto;
}

.socialBar,
.contact {
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
}

.contact {
  gap: 4rem;
}

.contact a {
  text-decoration-line: underline;
}

@media screen and (max-width: 800px) {
  .mainSectionSix {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .leftSide {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .sectionSix, .sectionOne, .sectionTwo, .sectionThree, .sectionFour, .sectionFive {
    padding: 17.9rem 2rem 17.9rem 2rem;
  }

  .formMain {
    grid-template-columns: 1fr;
  }
}

/* Section 6 end */

/* Components Styles */
/* Buttons */

.darkButton,
.lightButton {
  font-weight: 500;
  line-height: 2.8rem;
  font-size: 1.6rem;
  color: white;

  padding: 1.2rem 2.4rem 1.2rem 2.4rem;

  border-radius: 8px;
  border: none;
  background: var(--purple-dark);
}

.lightButton {
  border: 1px solid var(--purple-dark);
  color: var(--purple-dark);

  background-color: white;
}

/* Cards bar */

.bar {
  max-width: 1440px;
  margin: 10rem auto;
  padding: 0 13rem 0 13rem;
}

.titleBar {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.titleBar hr {
  width: auto;
  flex-grow: 4;
  height: 0.2rem;
  background-color: var(--line-color);
  border-width: 0;
}

.bar h3 {
  font-family: var(--font-primary);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--font-color);
  /* width: 100%; */
  
  /* flex: none; */
}

.barImg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}

/* toDocard */

.cardToDo {
  display: flex;
  padding: 2.4rem;
  gap: 1.2rem;
  background: white;
  box-shadow: 0px 8px 12px -6px rgba(35, 21, 91, 0.05), 0px 14px 64px -4px rgba(35, 21, 91, 0.05);
  border-radius: 8px;
}

.cardToDo img {
  width: 2.4rem;
  height: 2.4rem;
}

.cardToDo p {
  font-size: 1.6rem;
  font-weight: 500;
}

.cardToDo span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--purple-light);
}