
.page {
  max-width: 1440px;
  background-color: white;
  margin: auto;
}

/* header */
.header {
  max-width: 1440px;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav {
  flex-wrap: wrap;
  display: flex;
  gap: 6rem;
  align-items: center;

}

.aNav {
  flex-wrap: wrap;
  display: flex;
  gap: 2.4rem;
}

/* header-end */

/* Section - 1 */

.sectionOne {
  height: auto;
  background-image: url('../../public/bg.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center center;
  background-color: #FBFAFF;

  padding: 16.8rem 1rem 16.8rem 1rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* margin: 16.8rem 38.5rem 16.8rem 38.5rem; */
}

.title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 9.6rem;
}

.pTitle {
  margin-top: 0.8rem;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 36px;
}

.buttonsTitle {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
}

.buttonsTitle button {
  font-size: 1.8rem;
}

/* Section 1 end */

/* Section 2 */

.sectionTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10rem 0 10rem 0;
  padding: 0 13rem 0 13rem;
}

.sectionTwo h2 {
  width: 50%;
  padding-right: 10rem;
}

.emphasis {
  color: var(--purple-dark);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.02em;
}

.cardsDiv {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.cardWrapper {
  display: flex;
  gap: 1.2rem;
  max-width: 58rem;

  padding: 2.4rem 2.4rem 2.4rem 2.4rem;

  box-shadow: 0px 8px 12px -6px rgba(35, 21, 91, 0.05), 0px 14px 64px -4px rgba(35, 21, 91, 0.05);
  border-radius: 8px;
}

.cardWrapper span {
  color: var(--purple-dark);
  line-height: 2.8rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.cardWrapper p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  padding-right: 15rem;
}

/* Section 2 end */

/* Section 3 */

.sectionThree {
  background-color: #FBFAFF;
  border-radius: 25rem 0 0 0;
  width: 100%;
  margin-top: 10rem;
}

.background {
  background-image: url("../../public/bg-three.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100dvw;
}

.mainContentThree {
  margin: 0 13rem 0 13rem;
}

.titleSection p {
  /* padding-right: 56.4rem; */
  /* margin: 1.2rem 0 2rem 0; */
}

.sectionThreeButtons {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
  /* margin-right: 70.4rem; */
}

/* Section 3 end */

/* Section 4 */

.sectionFour {
  background-color: #FBFAFF;
  background-image: url("../../public/bg-three.svg");
  background-repeat: no-repeat;
  background-size: fill;
  border-radius: 25rem 0 0 0;
  width: 100%;

  border-radius: 0 25rem 0 0;
  width: 100%;
  padding: 20rem 0 20rem 0;
}

/* Section 4 end */

/* Section  5 */

.sectionFive {
  margin-bottom: 20rem;
}

.imgSectionFive {
  position: absolute;
  left: 0;
  margin-right: 133rem;
  border-radius: 0 20rem 20rem 0;
  width: 100%;
  max-width: 59rem;
  height: auto;
}

.mainContentFour {
  padding-left: 26rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.mainContentFour img {
  margin: 0 0 1.6rem 0;
}

.mainContentFour h2 {
  margin: 0 0 5.2rem 0;
  padding-right: 16.5rem;
}

.mainContentFour p:first-of-type {
  margin-bottom: 8rem;
}

/* Section 5 end */

/* Section 6 */

.sectionSix {
  background-color: var(--blue-dark);
  background-image: opacity(0.5), ("../../public/bg-two.svg");
  background-repeat: no-repeat;
  background-size: fill;
  border-radius: 25rem 0 0 0;
  margin-top: 10rem;
  padding: 17.9rem 13rem 17.9rem 13rem;
}

.mainSectionSix {
  display: flex;
  justify-content: space-between;
}

.leftSide {
  width: 59.3%;
}

.imgSectionSix {
  opacity: 0.2;
}

.mainSectionSix h2 {
  color: white;
}

.mainSectionSix p {
  color: var(--gray-light);
}

.titleMainSix {
  /* padding-right: 26.3rem; */
}

.titleMainSix span {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.02em;
}

.titleMainSix h2 {
  margin-bottom: 1.2rem;
}

.formMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: end;
  gap: 2rem;
}

.formMain input {
  padding: 1.4rem 1.2rem;
  border-radius: 0.8rem;
  border: 2px solid #F4F5F4;
  width: 100%;
}

.inputWrapper {
  align-self: end;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2.4rem;
  margin-top: auto;
}

.socialBar,
.contact {
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
}

.contact {
  gap: 4rem;
}

.contact a {
  text-decoration-line: underline;
}

/* Section 6 end */

/* Components Styles */
/* Buttons */

.darkButton,
.lightButton {
  font-weight: 500;
  line-height: 2.8rem;
  font-size: 1.6rem;
  color: white;

  padding: 1.2rem 2.4rem 1.2rem 2.4rem;

  border-radius: 8px;
  border: none;
  background: var(--purple-dark);
}

.lightButton {
  border: 1px solid var(--purple-dark);
  color: var(--purple-dark);

  background-color: white;
}

/* Cards bar */

.titleBar {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  margin-bottom: 4.8rem;
  padding: 0 13rem 0 13rem;
}

.titleBar hr {
  width: 100%;
  height: 0.2rem;
  background-color: var(--line-color);
  border-width: 0;
}

.bar h3 {
  font-family: var(--font-primary);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--font-color);
  flex: none;
}

.barImg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}

/* toDocard */

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  margin: 2rem 0 4rem 0;
}

.cardToDo {
  display: flex;
  padding: 2.4rem;
  gap: 1.2rem;
  background: white;
  box-shadow: 0px 8px 12px -6px rgba(35, 21, 91, 0.05), 0px 14px 64px -4px rgba(35, 21, 91, 0.05);
  border-radius: 8px;
}

.cardToDo img {
  width: 2.4rem;
  height: 2.4rem;
}

.cardToDo p {
  font-size: 1.6rem;
  font-weight: 500;
}

.cardToDo span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--span-card-color);
}