.main {
  max-width: 1920px;
  /* height: auto; */
  background-color: burlywood;
  margin: 0 auto;

  border: 1px solid red;
}

/* header */
.header {
  background: grey;
  padding: 1rem;
}

.center {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navButtons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6rem;
  color: var(--font-color);
  list-style-type: none;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
}

.click {
  font-family: var(--font-primary);
  
  padding: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 28px;
}
/* header-end */

/* Section - 1 */

.sectionOne{
  height: auto;
  margin: auto;
  margin-bottom: 10rem;
  background-image: url('../../public/bg.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center center;

  padding: 1rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 16.8rem 38.5rem 16.8rem 38.5rem;
}

.title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 9.6rem;
}

.pTitle {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 36px;
}

.buttonsTitle {
  display: flex;
  gap: 1.2rem;
}

/* Components Styles */

.darkButton {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 28px;
  font-size: 1.6rem;
  color: white;
  
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;

  border-radius: 8px;
  background: var(--color-button-dark);
}

.bar {
  margin: 10rem 37rem 10rem 37rem;
}

.titleBar {
  display: flex;
  gap:2.4rem;
  align-items: center;
  margin-bottom: 4.8rem;
}

.titleBar hr {
  width: 100%;
  height: 0.2rem; 
  background-color:var(--line-color);
  border-width: 0;
}

.bar h3 {
  font-family: var(--font-primary);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--font-color);
  flex: none;
}

.barImg {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
}

.barImg img {
  width: calc((100% / 5) - 2rem + (2rem / 5));
}
